*{
    margin: 0 auto;
    padding: 0;
}

.principal{
    margin-top: 20px;
    border: solid 4px black;
    height: 640px;
    width: 360px;
    display: block;
}

.values {
    border: solid 4px red;
    height: 213px;
    width: 100%;
    display: block;
}

.buttons {
    border: solid 4px green;
    height: 420px;
    width: 100%;
    display: block;
    display: flex;
    flex-wrap: ;
}